/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");




* {
  margin: 0;
  padding: 0;
}

body {
  display: inline;
  font-family: "Poppins", sans-serif;
  background: rgb(233,229,218);
  background: linear-gradient(117deg, rgba(233,229,218,1) 24%, rgba(125,113,90,1) 65%, rgba(105,94,77,1) 86%);
}

p {
  color: rgb(50, 50, 50);
  text-shadow: 0 0 1px black, 0 0 1px rgb(54, 54, 54), 0 0 1px rgb(130, 130, 130);
}

/* TRANSITION */
a,
.btn {
  transition: all 300ms ease-in-out;
}

/* DESKTOP NAV */
nav,
.nav-links {
  display: flex;
  z-index: 2;
}

nav {
  justify-content: space-between;
  align-items: center;
  height: 17vh; /* vh unit is responsive */
}

.nav-links {
  gap: 1rem; 
  list-style: none;
  font-size: 2.4rem; 
}

.icon {
  font-size: 3.25em; 
  transition: .3s ease-in-out;
}
/* Additional hover effect for email icon */
.icon:hover {
  color: rgb(255, 253, 253); 
}

.logo {
  font-size: 3rem;
  text-shadow: 0 0 1px black, 0 0 1px rgb(54, 54, 54), 0 0 1px rgb(130, 130, 130);
}


.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */
#hamburger-nav {
  box-sizing: border-box; /* This ensures padding is included in the width */

  position: fixed; /* Makes the hamburger menu fixed */
  padding: 2em;
  top: 0; 
  width: 100%; 
  height: 5rem;
  background: rgb(134, 125, 109); 
  z-index: 1000; 
}

#hamburger-nav h1 {
  text-shadow: 0 0 2px black, 0 0 2px rgb(54, 54, 54), 0 0 2px rgb(130, 130, 130);
  margin-left: 5em;
  font-size: 1.4em;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5em; /* 24px / 16px */
  width: 1.875em; /* 30px / 16px */
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 0.125em; /* 2px / 16px */
  background-color: black; /* Adjust color to match theme */
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(134, 125, 109); 
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.5s ease-in-out; 
  opacity: 0;
  border-radius: 1rem;
}

.menu-links a {
  display: block;
  padding: 0.625em;
  margin: 0,625em;
  text-align: right;
  font-size: 1.8rem; /* 1.5rem remains as is */
  color: rgba(43, 28, 10, 0.623); 
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.menu-links a:hover {
  color: rgb(231, 231, 231); 
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 18.75em; /* 300px / 16px */
  opacity: 1; 
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(0.625em, 0.3125em); /* 10px / 16px, 5px / 16px */
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(0.625em, -0.3125em); 
}

a {
  color: rgb(27, 21, 14);
  text-decoration: none;
  text-decoration-color: white;
  text-shadow: 0 0 1px black, 0 0 1px rgb(54, 54, 54), 0 0 1px rgb(130, 130, 130);
}



.logo span {
  color: rgb(61, 42, 22);
  font-size: 1.5em;
}

/* SECTIONS */

section {
  padding-top: 15vh; 
  height: 96vh; 
  margin: 5rem; 
  box-sizing: border-box;
  min-height: auto;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PROFILE SECTION */

#profile {
  height: 83vh; 
  margin-bottom: 6rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* rem unit for consistent scaling */
}

#profile h1 {
  text-shadow: 0 0 2px black, 0 0 2px rgb(54, 54, 54), 0 0 2px rgb(130, 130, 130);
}

.section__pic-container {
  align-self: center;
  text-align: center;
  width: 100%;
}

.section__pic-container img {
  max-width: 80%;
  height: auto;
}


.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1, .section__text__p2 {
  text-align: center;
}

.section__text__p2 {
  margin-bottom: 1rem;
    text-align: center;

 
}

.title {
  font-size: 3.4rem; 
  text-align: center;
}

.section__text__p1 {
  white-space: nowrap; /* Keeps text in a single line */
  width: 0;
  letter-spacing: .15em;

}




/* Remove the cursor after typing is done */
.section__text__p1::after {
  content: '';
  animation: none;
  border: none;
}



/* Scaling animation for 'David Fox' */
@keyframes scaleUp {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.title {
  transform: scale(0);
  animation: scaleUp 2s ease forwards;
  animation-delay: 5s; /* Delay equal to the typing animation */
}

/* Gradual opacity effect for 'Full-Stack Developer' */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.section__text {
  align-self: center;
  text-align: center;
  display: flex; /* Added to use flexbox for alignment */
  flex-direction: column; /* Align children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
}

.section__text__p2 {
  align-self: center;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 3s ease forwards;
  animation-delay: 6s; /* Delay equal to the typing animation */
  color: #ffffff; /* Set text color */
  background-color: rgba(82, 77, 71, 0.7);
  width: 100%;
  border-radius: 2em;
  font-size: 2rem;
  box-shadow: 0 0 10px rgba(78, 74, 67, 0.7), 0 0 20px rgrgba(75, 71, 64, 0.7)0 0 30px rgba(78, 73, 65, 0.7);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.7); /* Glow effect */
  margin: 1em; /* Ensure there's no extra space */
}



#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem; 
  gap: 3rem; 
}

#socials-container .icon {
  font-size: 2.25em; 
  transition: .3s ease-in-out; /* Transition effect for smooth hover */
}

#socials-container .icon:hover {
  color: rgb(255, 253, 253); 
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 3rem; 
}



/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem; 
  margin-bottom: 3vh; /
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem; 
  width: 8rem; 
  border-radius: 2rem; 
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53, .9) 0.1rem solid; /* 0.1rem remains as is */
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover {
  background: none;
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.socials .icon {
  padding: 0.3125em; /* 5px / 16px */
}

/* ABOUT SECTION */

#about {
  margin-top: 20rem;
  position: relative;
  font-size: 1.3rem;
}

#about h1 {
  text-shadow: 0 0 2px black, 0 0 2px rgb(54, 54, 54), 0 0 2px rgb(130, 130, 130);
}

.about-containers {
  gap: 2rem; /* 2rem remains as is for consistent scaling */
  flex-wrap: wrap;
}

.about-details-container {
  margin-top: 10rem; /* 2rem remains as is */
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
  margin-top: 3rem;
}



.details-container {
  padding: 1.5rem; /* 1.5rem remains as is for consistent padding */
  flex: 1;
  background: rgb(216, 214, 201);
  border-radius: 2rem; /* 2rem remains as is for border-radius */
  border: rgb(53, 53, 53) 0.1rem solid; /* 0.1rem remains as is */
  border-color: rgb(216, 214, 201);
  text-align: center;
}

.text-container {
  font-size: 1.2rem;
  font-weight: 200;
}

.details-container2 {
  padding: 1.2rem; 
  flex: 2;
  background: rgb(216, 214, 201);
  border-radius: 2rem; /* 2rem remains as is for border-radius */
  border: rgb(53, 53, 53) 0.1rem solid; /* 0.1rem remains as is */
  border-color: rgb(216, 214, 201);
  text-align: center;
}

.details-container p span {
  font-weight: 700;
  color: rgb(41, 41, 41);
  text-shadow: 0 0 0 15px grey;
}

.section-container {
  gap: 4rem; 
  height: 80%; 
}

/* SKILLS SECTION */
#experience {
  position: relative;
}

#experience h1 {
  text-shadow: 0 0 2px black, 0 0 2px rgb(54, 54, 54), 0 0 2px rgb(130, 130, 130);
}

.experience-sub-title {
  color: rgb(37, 35, 35);
  font-weight: 600;
  font-size: 2rem; 
  margin-bottom: 2rem; 
  text-shadow: 0 0 1px black;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem; /* 2.5rem remains as is for consistent spacing */
  justify-content: space-around;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  gap: 0.5rem; 
}

article .icon {
  cursor: pointer;
  width: 3rem; 
  height: auto; 
}

.expCV {
  background-color: rgba(105, 94, 77, 1); 
  color: rgba(233, 229, 218, 1); 
  padding: 10px 20px; /* Padding */
  border: none; /* No border */
  border-radius: 5px; 
  box-shadow: 0 0 3px rgba(105, 94, 77, 1);
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 36px; 
  margin: 4px 2px; 
  cursor: pointer; 
  transition-duration: 0.4s; 
}

.expCV:hover {
  background-color: rgb(182, 164, 131); /* Slightly lighter brown on hover */
  color: rgb(48, 46, 40); /* Maintaining light color text */
}


/* PROJECTS SECTION */
#projects {
  position: relative;
  text-align: center;
  color: rgba(53, 53, 53, 0.9); 
  text-shadow: 0 0 3px rgba(53, 53, 53, 0.5);
}

#projects h1 {
  margin-bottom: 5rem;
  text-shadow: 0 0 2px black, 0 0 2px rgb(54, 54, 54), 0 0 2px rgb(130, 130, 130);
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(216, 214, 201);
}

.details-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 2rem; 
  width: 100%;
}

.project-item {
  flex: 1 0 calc(33% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px; /* Adjust as needed */
}

/* PROJECTS SECTION */
.project-img {
  width: 18rem; 
  height: auto; 
  border-radius: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  border: rgb(53, 53, 53) 0.1rem solid; /* Add border */
}

.project-img:hover {
  transform: scale(1.4); 
  box-shadow: 0 0 15px rgba(53, 53, 53, 0.5); /* Glow effect on hover */
}


.project-title {
  text-align: center; 
  margin-bottom: 1rem; 
}

@media (max-width: 768px) {
  .project-item {
    flex-basis: calc(50% - 2rem); 
  }
}

@media (max-width: 480px) {
  .project-item {
    flex-basis: 100%; 
  }
}








/* CONTACT */

/* General Contact Section Styles */
#contact {
  background-color: rgba(216, 214, 201);
  margin-top: 20rem;
  text-align: center;
  padding: 3em;
  border-radius: 2rem;
  overflow: auto;
  height: auto;
}

#contact .section-title h2 {
  color: rgb(49, 44, 37); 
  text-shadow: 0 0 2px rgb(43, 43, 43);
  margin-bottom: 1rem;
}

#contact .section-title p {
  color: rgb(50, 50, 50);
}

/* Contact Form Container Styles */
.contact-container {
  max-width: 600px; 
  margin: auto; 
  height: auto;
}

/* Contact Form Styles */
.contact-form-container form {
  width: 100%;
}

.contact-form-container .form-group {
  margin-bottom: 1rem; 
}

.contact-form-container .form-group label {
  display: block; 
  margin-bottom: 0.5rem;
}

.contact-form-container .form-group input,
.contact-form-container .form-group textarea {
  width: 100%; 
  padding: 0.5rem;
  border: 1px solid rgb(34, 31, 26);
  box-shadow: 0 0 1px rgb(82, 77, 77);
  border-radius: 4px;
}

.contact-form-container .form-group textarea {
  resize: vertical; /* Allow vertical resize */
}

.contact-form-container .form-submit button {
  background: rgb(105, 94, 77); 
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 100%; 
  margin-top: 1rem;
}

.contact-form-container .form-submit button:hover {
  background: rgba(41, 37, 32, 0.8);
}



/* Styles for Social Icons - Unchanged to maintain original look */
.contact-info-upper-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(216, 214, 201);
  margin: 2rem auto;
  padding: 0.5rem;
  width: 70%;
  max-width: 800px;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-icon {
  cursor: default;
  height: 2rem;
  padding: 0.5rem;
}

.contact-info-upper-container .icon {
  font-size: 2.25em;
}




/* FOOTER SECTION */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 26vh; 
  margin: 0 1rem;
  text-align: center; 
}

footer nav {
  width: 100%; 
}



footer p {
  margin-top: 1rem; /* Add some space above the copyright text */
  text-shadow: 0 0 1px black, 0 0 1px rgb(54, 54, 54), 0 0 1px rgb(130, 130, 130);
}





@media screen and (max-width: 3000px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 5rem;
  }

  #projects {
    margin-top: 5rem;    
  }
  #profile,
  .section-container {
    display: block;
  }
  
  section,
  .section-container {
    height: auto;
  }
  section {
    margin: 0 5%;
  }
 
  .about-containers {
    margin-top: 0;
  }
  .about-details-container {
    margin-top: 5rem;    
  }
  #contact {
    margin-top: 5rem;    
  }
  
}

/* Media Queries */
@media screen and (max-width: 768px) {
  
  .contact,
  footer {
    margin-top: 5rem;
    height: 40vh;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  .project-img:hover {
    transform: scale(1);
    box-shadow: 0 0 15px rgba(53, 53, 53, 0.5); /* Glow effect on hover */
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  #projects,
  #contact,
  .about-details-container {
    margin-top: 5rem;
  }

  .contact-info-container,
  footer nav {
    margin: 0;
    height: auto;
    margin-bottom: 2rem;
  }

  
  .nav-links li a,
  .experience-sub-title,
  .logo,
  .section__text__p2,
  .title,
  article {
    font-size: 1.3rem;
  }

  #experience .experience-details-container,
  #experience .about-containers {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;

  }

  #experience .details-container,
  #experience article {
    width: 100%; 
    text-align: center; 
    margin-bottom: 1rem; 
    font-size: 1.1rem;

  }
 

  #experience article .icon {
    width: 2rem; 
    height: auto; 
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .btn-container {
    gap: 1rem; 
    margin-bottom: 1vh; 
  }

  .btn {
    padding: .5rem; 
    width: 6rem; 
    border-radius: 1rem; 
  }

  .section__text__p1, .section__text__p2 {
    font-size: 1rem; 
    text-align: center;
  }
  
  .title {
    font-size: 2.5rem; 
    text-align: center;
  }
}

@media (min-width: 768px) {

  #profile, .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .section__text p {
    font-weight: 600;
  }
  

  #experience,
  #projects,
  .about-details-container,
  .section-container {
    margin-top: 3rem;
    height: auto;
  }

  .section__pic-container {
    max-width: 50%;
    margin-top: 5rem;
  }

  .section__text__p2{
    width: 10em;
  }
  
}


/* Loader Container */
.loader-container {
  position: fixed; /* Fixed position to stay in the same place */
  top: 0; /* Start from top */
  left: 0; /* Start from left */
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background: linear-gradient(117deg, rgba(233,229,218,1) 24%, rgba(125,113,90,1) 65%, rgba(105,94,77,1) 86%); /* Background gradient */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 9999;
}

/* Loader Animation */
@keyframes imageFade {
  0% { background-image: url('assets/background1.png'); }
  40% { background-image: url('assets/background2.png'); }
  100% { background-image: url('assets/background2.png'); }
}


.loader {
  width: 15em; /* Width of the loader */
  height: 15em; /* Height of the loader */
  background-size: cover; /* Ensure image covers the entire container */
  background-position: center; /* Center the background image */
  animation: imageFade 4s ease-in; /* Apply the animation, change duration as needed */
  opacity: 1; /* Start with full opacity */
}

/* Custom Modal Styling */
.modal-content {
  background-color: rgba(216, 214, 201); 
  color: rgb(37, 35, 35); 
  border-radius: 0.5rem; 
  width: 90%;
  font-weight: 100;

}

.modal-dialog {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Custom Modal Header Styling */
.modal-header {
  display: flex;
  justify-content: center; 
  position: relative; 
  background-color: rgb(105, 94, 77); 
  color: rgba(216, 214, 201); 
  border-bottom: 1px solid rgba(125, 113, 90, 0.8); 
}

.modal-title {
  position: relative;
  z-index: 2; 
}

/* Adjusting the Close Button */
.btn-close {
  position: absolute;
  right: 1rem; 
  top: 0.5rem; 
  z-index: 3; 
  color: rgba(216, 214, 201); /* Button color */
}

/* New Tech Stack Container Styling */
.tech-stack-container {
  background-color: rgb(105, 94, 77); 
  color: rgb(34, 34, 31); 
  padding: .5rem; /* Add some padding */
  border-radius: 0.5rem; 
  margin-top: 1rem; 
}

/* Adjusting the styles for the list inside the new container */
.tech-stack-container .overlay-stack {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
}

.tech-stack-container .overlay-stack li {
  margin: 0.25rem 0; 
  font-size: 1rem; 
}